<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>ReHub Email</title>
</head>
<body>
<h1>Hello, <span th:text="${recipientName}">Recipient</span>!</h1>

<p>Due to recent changes,your therapy for <i><span th:text="${therapy.type}"></span></i> on <span th:text="${therapyDate}"></span> has been canceled.</p>
<p>If you want to schedule another appointment, contact us via mail or phone.</p>
<p>
    If you have any questions or need further information, please don't hesitate to contact us.
</p>

<p>Best regards,<br>ReHub</p>
</body>
</html>
